@*DataTable and Bootstrap CDN*@
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />



<style>
    body {
        background-color: white;
        font-family: Arial;
    }
</style>

@*DataTable View*@
<div class="row" style="padding: 3%; border:1px solid">
    <div id="errorMessageShow">
        <p></p>
    </div>

    <div id="successMessageShow">
        <p></p>
    </div>

    <div class="container my-3 p-2 text-center" style="background-color: #91c0e3">
        <h2>List of Suppliers</h2>
    </div>

    <a href="#" class="btn btn-dark col-sm-2 mb-2" onclick="createNewFun()">Add New</a>

    <div style="border:1px solid black; padding:10px; width: 1300px; text-align:center" class="col-lg-4">
        <table id="InfoTable" class="cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Supplier Number</th>
                    <th>Supplier Email</th>
                    <th>Supplier Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Supplier Name</th>
                    <th>Supplier Number</th>
                    <th>Supplier Email</th>
                    <th>Supplier Address</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



@*Create New  Modal*@
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">Create New Supplier</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <div class="row mb-3">
                        <label for="SupplierName" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control name" id="SupplierName" name="SupplierName" placeholder="Enter supplier name" style="background-color:#f5f5f5">
                            <span class="text-danger name_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                        </div>
                        <label for="SupplierNumber" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control number" id="SupplierNumber" name="SupplierNumber" placeholder="Enter supplier number" style="background-color:#f5f5f5">
                            <span class="text-danger number_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                        </div>
                        <label for="EmailAddress" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control email_address" id="EmailAddress" name="EmailAddress" placeholder="Enter customer email" style="background-color:#f5f5f5">
                            <span class="text-danger email_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                        </div>
                        <label for="SupplierAddress" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control address" id="SupplierAddress" name="SupplierAddress" placeholder="Enter supplier address" style="background-color:#f5f5f5">
                            <span class="text-danger address_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input type="submit" id="submitId" class="btn btn-primary" value="Create" style="background-color: #1d4552">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552; ">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@* Details Modal*@
<div class="modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">--Details about the Customer--</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <table class="table">
                        <thead>
                            <tr style="color:black;">
                                <th>CreatedBy</th>
                                <th>CreatedAt</th>
                                <th>ModifyBy</th>
                                <th>ModifyAt</th>
                            </tr>
                        </thead>
                        <tbody id="detailsBodyId">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@*Delete Modal*@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h5 class="modal-title w-100 text-center" style="color: white">Confirm...</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <h4>Are you sure to delete the Supplier - <span id="nameId"></span>?</h4>
                <input type="hidden" value="" id="Id" />
            </div>
            <div class="modal-footer" style="background-color: #1d4552">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
                <button type="button" id="btnDelete" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@*Update  Modal*@
<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">Update Customer</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <div class="row mb-3">
                        <div class="row mb-3">
                            <label for="SupplierName" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control name" id="updateSupplierName" name="SupplierName" style="background-color:#f5f5f5">
                                <span class="text-danger name_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                            </div>
                            <label for="SupplierNumber" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control number" id="updateSupplierNumber" name="SupplierNumber" style="background-color:#f5f5f5">
                                <span class="text-danger number_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                            </div>
                            <label for="EmailAddress" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control email_address" id="updateEmailAddress" name="EmailAddress" style="background-color:#f5f5f5">
                                <span class="text-danger email_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                            </div>
                            <label for="CustomerAddress" class="col-sm-3 col-form-label text-start" style="color:black;">Supplier Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control address" id="updateSupplierAddress" name="SupplierAddress" style="background-color:#f5f5f5">
                                <span class="text-danger address_validation" style="display: block; text-align: left; padding-top: 5px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input type="hidden" id="updateId" name="Id">
                            <input type="submit" id="updateSaveId" class="btn btn-primary" value="Save" style="background-color: #1d4552">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>

    <script>

        function showErrorAlertMessage(message) {
            return `
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p> ${message} </p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>`
        }

        function showSuccessAlertMessage(message) {
            return `
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <p> ${message} </p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>`
        }

        //Clear create modal after closing the modal
        $('#createModal').on('hidden.bs.modal', function () {
            $(this).find('input[type="text"]').val('');
            $(this).find('.name_validation').text('');
            $(this).find('.number_validation').text('');
            $(this).find('.email_validation').text('');
            $(this).find('.address_validation').text('');
        });

        function createNewFun() {
            $("#createModal").modal('show')
        }

        // method to validate customer name
        function nameValidator(name) {
            const regex = new RegExp("^[a-zA-Z ]+$");
            isValid = true;

            if (name.trim().length == 0) {
                $(".name_validation").text("Name cannot be empty!");
                isValid = false;
            } else if (!regex.test(name)) {
                $(".name_validation").text("Name should contain only alphabetic characters!");
                isValid = false;
            } else if (name.trim().length < 3 || name.trim().length > 30) {
                $(".name_validation").text("Length should be between 3 and 30 characters!");
                isValid = false;
            } else {
                $(".name_validation").text("");
            }

            return isValid;
        }

        // method to validate customer number
        function numberValidator(number) {
            const regex = new RegExp("^[0-9]+$");
            isValid = true;

            if (number.trim().length == 0) {
                $(".number_validation").text("Number cannot be empty!");
                isValid = false;
            } else if (!regex.test(number)) {
                $(".number_validation").text("Number should contain only digits!");
                isValid = false;
            } else if (number.trim().length > 18 || number.trim().length < 11) {
                $(".number_validation").text("Length should be between 11 to 18!");
                isValid = false;
            } else {
                $(".number_validation").text("");
            }

            return isValid;
        }

        // method to validate email address
        function emailValidator(email) {
            isValid = true;
            emailExp = /^([a-zA-Z0-9_\.\-])+\@('@')(([a-zA-Z0-9\-])+\.)+([com\co\.\in])+$/;


            if (email.trim().length == 0) {
                $(".email_validation").text("Email cannot be empty!");
                isValid = false;
            } else if (!email.match(emailExp)) {
                $(".email_validation").text("Email is not valid!");
                isValid = false;
            } else {
                $(".email_validation").text("");
            }

            return isValid;
        }

        // method to validate customer address
        function addressValidator(address) {
            isValid = true;

            if (address.trim().length == 0) {
                $(".address_validation").text("Address cannot be empty!");
                isValid = false;
            } else if (address.trim().length > 225 || address.trim().length < 10) {
                $(".address_validation").text("Length should be between 10 to 225!");
                isValid = false;
            } else {
                $(".address_validation").text("");
            }

            return isValid;
        }


        $(".name").on('change input propertychange', function () {
            const name = $(this).val();
            nameValidator(name);
        });

        $(".number").on('change input propertychange', function () {
            const number = $(this).val();
            numberValidator(number);
        });

        $(".email_address").on('change input propertychange', function () {
            const email = $(this).val();
            emailValidator(email);
        });

        $(".address").on('change input propertychange', function () {
            const address = $(this).val();
            addressValidator(address);
        });


        function DataBinding() {
            const name = $("#SupplierName").val();
            const number = $("#SupplierNumber").val();
            const email = $("#EmailAddress").val();
            const address = $("#SupplierAddress").val();

            const isNameValid = nameValidator(name);
            const isNumberValid = numberValidator(number);
            const isEmailValid = emailValidator(email);
            const isAddressValid = addressValidator(address);


            if (isNameValid && isNumberValid && isEmailValid && isAddressValid) {
                const obj = {
                    SupplierName: name,
                    SupplierNumber: number,
                    EmailAddress: email,
                    SupplierAddress: address
                };
                submitData(obj);
            }
        }

        function submitData(obj) {
            $.ajax({
                url: "/Supplier/Create",
                method: "POST",
                data: obj,
                dataType: 'json',
                success: function (response) {
                    if (response.IsValid == true) {
                        const msgAlertMake = showSuccessAlertMessage(response.Message);
                        $("#successMessageShow").html(msgAlertMake);
                        $("#createModal").modal('hide');
                        const table = $("#InfoTable").DataTable();
                        table.ajax.reload();

                    } else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#createModal").modal('hide');
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                    $("#createModal").modal('hide');
                }
            });
        }

        function Details(id) {
            $("#detailsModal").modal('show')
            $.ajax({
                url: "/Supplier/Details",
                type: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (response) {
                    if (response.IsSuccess == true) {
                        $("#detailsBodyId").empty();
                        const trMake = `
                                            <tr>
                                                <td>${response.Details.CreatedBy}</td>
                                                <td>${response.Details.CreatedDate}</td>
                                                <td>${response.Details.ModifyBy}</td>
                                                <td>${response.Details.ModifyDate}</td>
                                            </tr>
                                        `;
                        $("#detailsBodyId").append(trMake);
                        $('#detailsModal').modal('show');
                    }
                    else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $('#detailsModal').modal('hide');
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                    $('#detailsModal').modal('hide');
                }
            });
        }


        function Delete(id) {
            $("#deleteModal").modal("show");

            $("#btnDelete").click(function () {
                $.ajax({
                    url: "/Supplier/Delete",
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        console.log(response);
                        if (response.IsSuccess == true) {
                            $("#deleteModal").modal('hide');
                            const msgAlertMake = showSuccessAlertMessage(response.Message);
                            $("#successMessageShow").html(msgAlertMake);
                            $("#deleteModal").modal('hide');
                            const table = $("#InfoTable").DataTable();
                            table.ajax.reload();
                        } else {
                            const msgAlertMake = showErrorAlertMessage(response.Message);
                            $("#errorMessageShow").html(msgAlertMake);
                            $("#deleteModal").modal('hide');
                        }
                    },
                    error: function (error) {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#deleteBrandModal").modal('hide');
                    }

                })
            })

        }

        //reset the updateMoadl validation message befor loading the data to the update modal.
        function updateModalValidationMessageReset() {
            $(".name_validation").empty();
            $(".number_validation").empty();
            $(".email_validation").empty();
            $(".address_validation").empty();
        }

        function Update(updateId) {
            $("#updateModal").modal('show');

            $.ajax({
                url: "/Supplier/Update",
                dataType: 'json',
                type: 'GET',
                data: { id: updateId },
                success: function (response) {
                    updateModalValidationMessageReset();
                    if (response.IsSuccess) {
                        $("#updateId").val(response.UpdateSupplierData.Id);
                        $("#updateSupplierName").val(response.UpdateSupplierData.SupplierName);
                        $("#updateSupplierNumber").val(response.UpdateSupplierData.SupplierNumber);
                        $("#updateEmailAddress").val(response.UpdateSupplierData.EmailAddress);
                        $("#updateSupplierAddress").val(response.UpdateSupplierData.SupplierAddress);
                        $("#updateModal").modal('show');
                    }
                    else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#updateModal").modal('hide');
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                    $("#updateModal").modal('hide');
                }
            });

            $("#updateSaveId").click(function () {

                const id = $("#updateId").val();
                const name = $("#updateSupplierName").val();
                const number = $("#updateSupplierNumber").val();
                const email = $("#updateEmailAddress").val();
                const address = $("#updateSupplierAddress").val();

                const isNameValid = nameValidator(name);
                const isNumberValid = numberValidator(number);
                const isEmailValid = emailValidator(email);
                const isAddressValid = addressValidator(address);

                if (isNameValid && isNumberValid && isEmailValid && isAddressValid) {
                    const formdata = {
                        Id: id,
                        SupplierName: name,
                        SupplierNumber: number,
                        EmailAddress: email,
                        SupplierAddress: address
                    }

                    $.ajax({
                        url: "/Supplier/Update",
                        dataType: 'json',
                        type: 'POST',
                        data: { id: formdata.Id, supplierViewModel: formdata },
                        success: function (response) {
                            if (response.IsSuccess == true) {
                                const msgAlertMake = showSuccessAlertMessage(response.Message);
                                $("#successMessageShow").html(msgAlertMake);
                                $("#updateModal").modal('hide');
                                const table = $("#InfoTable").DataTable();
                                table.ajax.reload();
                            } else {
                                const msgAlertMake = showErrorAlertMessage(response.Message);
                                $("#errorMessageShow").html(msgAlertMake);
                                $("#updateModal").modal('hide');
                            }
                        },
                        error: function (error) {
                            const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                            $("#errorMessageShow").html(msgAlertMake);
                            $("#updateModal").modal('hide');
                        }
                    });
                }
            });
        }

        $(document).ready(function () {

            $("#InfoTable").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/Supplier/LoadSupplierData",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "SupplierName", "name": "SupplierName" },
                        { "data": "SupplierNumber", "name": "SupplierNumber" },
                        { "data": "EmailAddress", "name": "EmailAddress" },
                        { "data": "SupplierAddress", "name": "SupplierAddress" },
                        {
                            "data": "Id", "render": function (id) {
                                return `
                                                        <a> <button type = "submit" class="btn btn-outline-dark btn-sm" onClick = "Details(${id})">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>Details</button></a>
                                                        <a> <button type = "submit" class="btn btn-outline-danger btn-sm" onClick = "Delete(${id})">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>Delete</button></a>
                                                        <a> <button type = "submit" class="btn btn-outline-secondary btn-sm" onClick = "Update(${id})">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>Update</button></a>

                                                        `
                            }
                        },
                    ]
                });

            $("#submitId").click(function () {
                DataBinding();
            });
        })


    </script>
}

