@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>In this Inventory Management System, we sell two types of product one is called Cloths and another one is Shoes. We sell some verious types of product brand
       such as Adidas, Nike, Puma so one so four. 
    </p>
</main>