@*DataTable and Bootstrap CDN*@
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />



<style>
    body {
        background-color: white;
        font-family: Arial;
    }
</style>

@*DataTable View*@
<div class="row" style="padding: 5%">
    <div id="errorMessageShow">
        <p></p>
    </div>

    <div id="successMessageShow">
        <p></p>
    </div>
    <div class="container my-3 p-2 text-center bg-gradient text-bg-light">
        <h2>List of Brands</h2>
    </div>
    <a href="#" class="btn btn-dark col-sm-2 m-2" onclick="createBrandFun()">Add New</a>

    <div style="border:1px solid black; padding:10px; width: 1300px; text-align:center" class="col-lg-4">
        <table id="brandInfoTable" class="cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Brand Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Brand</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



@*Create New Brand Modal*@
<div class="modal fade" id="createBrand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">Create New Brand</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <div class="row mb-3">
                        <label for="BrandName" class="col-sm-3 col-form-label text-start" style="color:black;">Brand Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="BrandName" name="BrandName" placeholder="Enter the brand name" style="background-color:#f5f5f5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input type="submit" id="employeeSubmitId" class="btn btn-primary" value="Create" style="background-color: #1d4552">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552; ">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@*Brand Details Modal*@
<div class="modal fade" id="detailsBrand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">--Details about the brand--</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <table class="table">
                        <thead>
                            <tr style="color:black;">
                                <th>CreatedBy</th>
                                <th>CreatedAt</th>
                                <th>ModifyBy</th>
                                <th>ModifyAt</th>
                            </tr>
                        </thead>
                        <tbody id="brandTabledetailsBodyId">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@*Delete Modal*@
<div class="modal fade" id="deleteBrandModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h5 class="modal-title w-100 text-center" style="color: white">Confirm...</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <h4>Are you sure to delete the brand - <span id="deleteBrandName"></span>?</h4>
                <input type="hidden" value="" id="brandId" />
            </div>
            <div class="modal-footer" style="background-color: #1d4552">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
                <button type="button" id="btnBrandDelete" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@*Update Brand Modal*@
<div class="modal fade" id="updateBrand" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">Update Brand</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <div class="row mb-3">
                        <label for="UpdateBrandName" class="col-sm-3 col-form-label text-start" style="color:black;">Brand Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="updateBrandName" name="BrandName" style="background-color:#f5f5f5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input type="hidden" id="updateBrandId" name="Id">
                            <input type="submit" id="updateBrandSaveId" class="btn btn-primary" value="Save" style="background-color: #1d4552">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>

    <script>

        function showErrorAlertMessage(message) {
            return `
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p> ${message} </p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
        }

        function showSuccessAlertMessage(message) {
            return `
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <p> ${message} </p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
        }

        function createBrandFun() {
            $("#createBrand").modal('show')
        }

        function brandDataBinding() {
            const brandName = $("#BrandName").val();

            const brandObject = {
                BrandName: brandName
            }
            return brandObject;
        }

        function submitBrand(obj) {
            $.ajax({
                url: "/Brand/CreateBrand",
                method: "POST",
                data: obj,
                dataType: 'json',
                success: function (response) {
                    if (response.IsValid == true) {
                        const msgAlertMake = showSuccessAlertMessage(response.Message);
                        $("#successMessageShow").html(msgAlertMake);
                        $("#createBrand").modal('hide');

                        //Reload the DataTable after added a new brand.
                        const table = $("#brandInfoTable").DataTable();
                        table.ajax.reload();

                        //window.location.href = "/Brand/Load";

                    } else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#createBrand").modal('hide');
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                    $("#createBrand").modal('hide');
                }
            });
        }

        function brandDetails(brandId) {
            $("#detailsBrand").modal('show')
            $.ajax({
                url: "/Brand/BrandDetails",
                type: 'GET',
                data: { id: brandId },
                dataType: 'json',
                success: function (response) {
                    if (response.IsSuccess == true) {
                        console.log("Deatils of Brand", response.Details)
                        $("#brandTabledetailsBodyId").empty();
                        const trMake = `
                                        <tr>
                                            <td>${response.Details.CreatedBy}</td>
                                            <td>${response.Details.CreatedDate}</td>
                                            <td>${response.Details.ModifyBy}</td>
                                            <td>${response.Details.ModifyDate}</td>
                                        </tr>
                                    `;
                        $("#brandTabledetailsBodyId").append(trMake);
                        $('#detailsBrand').modal('show');
                    }
                    else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                }
            });
        }


        function brandDelete(deleteId) {
            $("#deleteBrandModal").modal("show");

            $("#btnBrandDelete").click(function () {
                $.ajax({
                    url: "/Brand/Delete",
                    type: 'POST',
                    data: { id: deleteId },
                    success: function (response) {
                        console.log(response);
                        if (response.IsSuccess == true) {
                            $("#deleteBrandModal").modal('hide');
                            const msgAlertMake = showSuccessAlertMessage(response.Message);
                            $("#successMessageShow").html(msgAlertMake);
                            $("#deleteBrandModal").modal('hide');
                        } else {
                            const msgAlertMake = showErrorAlertMessage(response.Message);
                            $("#errorMessageShow").html(msgAlertMake);
                            $("#deleteBrandModal").modal('hide');
                        }
                    },
                    error: function (error) {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#deleteBrandModal").modal('hide');
                    }

                })
            })

        }

        function brandUpdate(updateId) {
            $("#updateBrand").modal('show');

            $.ajax({
                url: "/Brand/Update",
                dataType: 'json',
                type: 'GET',
                data: { id: updateId },
                success: function (response) {
                    if (response.IsSuccess == true) {
                        $("#updateBrandId").val(response.UpdateBrandData.Id);
                        $("#updateBrandName").val(response.UpdateBrandData.BrandName);
                        $("#updateBrand").modal('show');
                    }
                    else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                }
            });

            $("#updateBrandSaveId").click(function () {

                const brandId = $("#updateBrandId").val();
                const brandName = $("#updateBrandName").val();

                var formdata = {
                    Id: brandId,
                    BrandName: brandName
                }

                $.ajax({
                    url: "/Brand/Update",
                    dataType: 'json',
                    type: 'POST',
                    data: { id: formdata.Id, brand: formdata },
                    success: function (response) {
                        if (response.IsSuccess == true) {
                            const msgAlertMake = showSuccessAlertMessage(response.Message);
                            $("#successMessageShow").html(msgAlertMake);
                            $("#updateBrand").modal('hide');
                        } else {
                            const msgAlertMake = showErrorAlertMessage(response.Message);
                            $("#errorMessageShow").html(msgAlertMake);
                            $("#updateBrand").modal('hide');
                        }
                    },
                    error: function (error) {
                        const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#updateBrand").modal('hide');
                    }
                });
            });
        }

        $(document).ready(function () {

            $.ajax({
                url: "/Brand/LoadBrandData",
                datatype: 'json',
                type: 'GET',
                success: function (response) {
                    if (response.IsValid == true) {
                        $("#brandInfoTable").DataTable(
                            {
                                data: response.BrandList,
                                'scrollY': 200,
                                "columns": [
                                    { "data": "Id", name: "Id" },
                                    { "data": "BrandName", "name": "BrandName" },
                                    {
                                        "data": "Id", "render": function (brandId) {
                                            return `
                                                    <a> <button type = "submit" class="btn btn-outline-dark btn-sm" onClick = "brandDetails(${brandId})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>Details</button></a>
                                                    <a> <button type = "submit" class="btn btn-outline-danger btn-sm" onClick = "brandDelete(${brandId})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>Delete</button></a>
                                                    <a> <button type = "submit" class="btn btn-outline-secondary btn-sm" onClick = "brandUpdate(${brandId})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>Update</button></a>
                                                    
                                                    `
                                        }
                                    },
                                ]
                            })

                    } else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                    }
                },
                error: function (err) {
                    const msgAlertMake = showErrorAlertMessage(err + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                }
            });

            $("#employeeSubmitId").click(function () {

                var formData = brandDataBinding();
                submitBrand(formData);

            });
        })


    </script>
}