@*DataTable and Bootstrap CDN*@
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />



<style>
    body {
        background-color: white;
        font-family: Arial;
    }
</style>

@*DataTable View*@
<div class="row" style="padding: 5%">
    <div id="errorMessageShow">
        <p></p>
    </div>

    <div id="successMessageShow">
        <p></p>
    </div>
    <div class="container my-3 p-2 text-center bg-gradient text-bg-light">
        <h2>List of Customers</h2>
    </div>
    <a href="#" class="btn btn-dark col-sm-2 m-2" onclick="createNewFun()">Add New</a>

    <div style="border:1px solid black; padding:10px; width: 1300px; text-align:center" class="col-lg-4">
        <table id="InfoTable" class="cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Customer Name</th>
                    <th>Customer Number</th>
                    <th>Customer Email</th>
                    <th>Customer Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Customer Name</th>
                    <th>Customer Number</th>
                    <th>Customer Email</th>
                    <th>Customer Address</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



@*Create New  Modal*@
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">Create New Customer</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <div class="row mb-6 ps-lg-5">
                        <label for="CustomerName" class="col-form-label text-start" style="color:black;">Name</label>
                        <div class="col-sm-6 pb-2">
                            <input type="text" class="form-control" id="CustomerName" name="CustomerName" placeholder="Enter customer name" style="background-color:#f5f5f5">
                        </div>
                        <label for="CustomerNumber" class=" col-form-label text-start" style="color:black;">Number</label>
                        <div class="col-md-6 pb-2">
                            <input type="text" class="form-control" id="CustomerNumber" name="CustomerNumber" placeholder="Enter customer number" style="background-color:#f5f5f5">
                        </div>
                        <label for="EmailAddress" class=" col-form-label text-start" style="color:black;">Email</label>
                        <div class="col-md-6 pb-2">
                            <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Enter customer email" style="background-color:#f5f5f5">
                        </div>
                        <label for="CustomerAddress" class=" col-form-label text-start" style="color:black;">Address</label>
                        <div class="col-md-6 pb-2">
                            <input type="text" class="form-control" id="CustomerAddress" name="CustomerAddress" placeholder="Enter customer address" style="background-color:#f5f5f5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input type="submit" id="submitId" class="btn btn-primary" value="Create" style="background-color: #1d4552">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552; ">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@* Details Modal*@
<div class="modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">--Details about the Customer--</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <table class="table">
                        <thead>
                            <tr style="color:black;">
                                <th>CreatedBy</th>
                                <th>CreatedAt</th>
                                <th>ModifyBy</th>
                                <th>ModifyAt</th>
                            </tr>
                        </thead>
                        <tbody id="detailsBodyId">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@*Delete Modal*@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h5 class="modal-title w-100 text-center" style="color: white">Confirm...</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <h4>Are you sure to delete the Customer - <span id="nameId"></span>?</h4>
                <input type="hidden" value="" id="Id" />
            </div>
            <div class="modal-footer" style="background-color: #1d4552">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
                <button type="button" id="btnDelete" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@*Update  Modal*@
<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1d4552">
                <h1 class="modal-title fs-5 w-100 text-center" style="color: white">Update Customer</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgray">
                <div class="container my-3 p-2 text-center">
                    <div class="row mb-3">
                        <div class="row mb-3">
                            <label for="CustomerName" class="col-sm-3 col-form-label text-start" style="color:black;">Customer Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="updateCustomerName" name="CustomerName" style="background-color:#f5f5f5">
                            </div>
                            <label for="CustomerNumber" class="col-sm-3 col-form-label text-start" style="color:black;">Customer Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="updateCustomerNumber" name="CustomerNumber" style="background-color:#f5f5f5">
                            </div>
                            <label for="EmailAddress" class="col-sm-3 col-form-label text-start" style="color:black;">Customer Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="updateEmailAddress" name="EmailAddress" style="background-color:#f5f5f5">
                            </div>
                            <label for="CustomerAddress" class="col-sm-3 col-form-label text-start" style="color:black;">Customer Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="updateCustomerAddress" name="CustomerAddress" style="background-color:#f5f5f5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input type="hidden" id="updateId" name="Id">
                            <input type="submit" id="updateSaveId" class="btn btn-primary" value="Save" style="background-color: #1d4552">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #1d4552">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#a9a9a9">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>

    <script>

        function showErrorAlertMessage(message) {
            return `
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p> ${message} </p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
        }

        function showSuccessAlertMessage(message) {
            return `
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <p> ${message} </p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
        }

        function createNewFun() {
            $("#createModal").modal('show')
        }

        function DataBinding() {
            const name = $("#CustomerName").val();
            const number = $("#CustomerNumber").val();
            const email = $("#EmailAddress").val();
            const address = $("#CustomerAddress").val();

            const obj = {
                CustomerName: name,
                CustomerNumber: number,
                EmailAddress: email,
                CustomerAddress: address
            }
            return obj;
        }

        function submitData(obj) {
            $.ajax({
                url: "/Customer/Create",
                method: "POST",
                data: obj,
                dataType: 'json',
                success: function (response) {
                    if (response.IsValid == true) {
                        const msgAlertMake = showSuccessAlertMessage(response.Message);
                        $("#successMessageShow").html(msgAlertMake);
                        $("#createModal").modal('hide');

                        //Reload the DataTable after added a new brand.
                        const table = $("#brandInfoTable").DataTable();
                        table.ajax.reload();

                    } else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#createModal").modal('hide');
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                    $("#createModal").modal('hide');
                }
            });
        }

        function Details(id) {
            $("#detailsModal").modal('show')
            $.ajax({
                url: "/Customer/Details",
                type: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (response) {
                    if (response.IsSuccess == true) {
                        $("#detailsBodyId").empty();
                        const trMake = `
                                        <tr>
                                            <td>${response.Details.CreatedBy}</td>
                                            <td>${response.Details.CreatedDate}</td>
                                            <td>${response.Details.ModifyBy}</td>
                                            <td>${response.Details.ModifyDate}</td>
                                        </tr>
                                    `;
                        $("#detailsBodyId").append(trMake);
                        $('#detailsModal').modal('show');
                    }
                    else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $('#detailsModal').modal('hide');
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                    $('#detailsModal').modal('hide');
                }
            });
        }


        function Delete(id) {
            $("#deleteModal").modal("show");

            $("#btnDelete").click(function () {
                $.ajax({
                    url: "/Customer/Delete",
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        console.log(response);
                        if (response.IsSuccess == true) {
                            $("#deleteModal").modal('hide');
                            const msgAlertMake = showSuccessAlertMessage(response.Message);
                            $("#successMessageShow").html(msgAlertMake);
                            $("#deleteModal").modal('hide');
                        } else {
                            const msgAlertMake = showErrorAlertMessage(response.Message);
                            $("#errorMessageShow").html(msgAlertMake);
                            $("#deleteModal").modal('hide');
                        }
                    },
                    error: function (error) {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#deleteBrandModal").modal('hide');
                    }

                })
            })

        }


        function Update(updateId) {
            $("#updateModal").modal('show');

            $.ajax({
                url: "/Customer/Update",
                dataType: 'json',
                type: 'GET',
                data: { id: updateId },
                success: function (response) {
                    console.log(response)
                    if (response.IsSuccess) {
                        $("#updateId").val(response.UpdateCustomerData.Id);
                        $("#updateCustomerName").val(response.UpdateCustomerData.CustomerName);
                        $("#updateCustomerNumber").val(response.UpdateCustomerData.CustomerNumber);
                        $("#updateEmailAddress").val(response.UpdateCustomerData.EmailAddress);
                        $("#updateCustomerAddress").val(response.UpdateCustomerData.CustomerAddress);
                        $("#updateModal").modal('show');
                    }
                    else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#updateModal").modal('hide');
                    }
                },
                error: function (error) {
                    const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                    $("#updateModal").modal('hide');
                }
            });

            $("#updateSaveId").click(function () {

                const id = $("#updateId").val();
                const cutomerName = $("#updateCustomerName").val();
                const cutomerNumber = $("#updateCustomerNumber").val();
                const email = $("#updateEmailAddress").val();
                const address = $("#updateCustomerAddress").val();

                var formdata = {
                    Id: id,
                    CustomerName: cutomerName,
                    CustomerNumber: cutomerNumber,
                    EmailAddress: email,
                    CustomerAddress: address
                }

                $.ajax({
                    url: "/Customer/Update",
                    dataType: 'json',
                    type: 'POST',
                    data: { id: formdata.Id, customerViewModel: formdata },
                    success: function (response) {
                        if (response.IsSuccess == true) {
                            const msgAlertMake = showSuccessAlertMessage(response.Message);
                            $("#successMessageShow").html(msgAlertMake);
                            $("#updateModal").modal('hide');
                        } else {
                            const msgAlertMake = showErrorAlertMessage(response.Message);
                            $("#errorMessageShow").html(msgAlertMake);
                            $("#updateModal").modal('hide');
                        }
                    },
                    error: function (error) {
                        const msgAlertMake = showErrorAlertMessage(error.status + " Error!");
                        $("#errorMessageShow").html(msgAlertMake);
                        $("#updateModal").modal('hide');
                    }
                });
            });
        }

        $(document).ready(function () {

            $.ajax({
                url: "/Customer/LoadCustomerData",
                datatype: 'json',
                type: 'GET',
                success: function (response) {
                    if (response.IsValid == true) {
                        $("#InfoTable").DataTable(
                            {
                                data: response.CustomerList,
                                'scrollY': 200,
                                "columns": [
                                    { "data": "Id", name: "Id" },
                                    { "data": "CustomerName", "name": "CustomerName" },
                                    { "data": "CustomerNumber", "name": "CustomerNumber" },
                                    { "data": "EmailAddress", "name": "EmailAddress" },
                                    { "data": "CustomerAddress", "name": "CustomerAddress" },
                                    {
                                        "data": "Id", "render": function (cusId) {
                                            return `
                                                    <a> <button type = "submit" class="btn btn-outline-dark btn-sm" onClick = "Details(${cusId})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>Details</button></a>
                                                    <a> <button type = "submit" class="btn btn-outline-danger btn-sm" onClick = "Delete(${cusId})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>Delete</button></a>
                                                    <a> <button type = "submit" class="btn btn-outline-secondary btn-sm" onClick = "Update(${cusId})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>Update</button></a>

                                                    `
                                        }
                                    },
                                ]
                            })

                    } else {
                        const msgAlertMake = showErrorAlertMessage(response.Message);
                        $("#errorMessageShow").html(msgAlertMake);
                    }
                },
                error: function (err) {
                    const msgAlertMake = showErrorAlertMessage(err + " Error!");
                    $("#errorMessageShow").html(msgAlertMake);
                }
            });

            $("#submitId").click(function () {

                var formData = DataBinding();
                submitData(formData);

            });
        })


    </script>
}

